<center>
	<a class="brand" style="height:35px; width:35px" href="<%= root_path %>"> <img src="/assets/logo.png"></a>
	<h1>Welcome to App Name</h1>
	<h3>App Tagline</h3>
	<h5>
		<br>
	<h4>App Description</h4>

		<hr>
	<div class="row">
		<h3></h3>
	<div class="span4">
		<div class="well">
			<h3>App Feature 1</h3>
			Description
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<h3>App Feature 2</h3>
			Description
		</div>
	</div>
	<div class="span4 last">
		<div class="well">
			<h3>App Feature 3</h3>
			Description
		</div>
	</div>
	</div>
	</h5>
		<hr>
		<h3>Join App</h3>
		<a href="<%= new_invitation_path %>" class="btn btn-success btn-large">Request Invite</a>
		<hr>
	<h5>More details. 
		<br><u><a href="<%= home_about_path %>" style="font-size:20px">Find out more →</a></u>
	</h5>
</center>