<center>
	<div class="links">
		<a href="<%= home_about_path %>">About</a>
		<a href="http://blog.appname.com">Blog</a>
		<a href="https://twitter.com/appname">Twitter</a>
		<a href="https://facebook.com/appname">Facebook</a>
		<a href="mailto:support@appname.com?Subject=Hello%20App%20Team">Email</a>
		App Name © 2013
	</div>
<hr>
<center>